table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    table-layout:fixed;
    width: 85%;
    height:20%;
}

table,
th,
td {
    min-width: 5em;
    
}

tr {
    line-height: 2;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:first-child {
    background-color: #592654;
    color: #fff;
    line-height: 2.5;
}

tr:hover:not(:first-child) {
    background-color: hsl(60 100% 85%);
}