<html>
    <head>
        <title>课程管理系统</title>
        <link href="/components.css" rel="stylesheet" />
        <link href="/base.css" rel="stylesheet" />
        {% block styles %}{% endblock%}
    </head>

    <body>
        <div class="page-head">
            <img class="logo" src="/logo_256.png" />
            <div class="title">课程管理系统--教师端</div>
        </div>
        <div class="page-body">
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="/teacher">本学期课表</a>
                    </li>
                    <li>
                        <a href="/teacher/course/year/2020s">历年课表查询</a>
                    </li>
            </div>
            <div class="page-content">
                {% block page_content %}{% endblock %}
                <div class="page-footer">&copy;天津工业大学 2021</div>
            </div>
        </div>
    </body>
</html>
