{% extends "base_man.html" %}

<!--  -->
{% block styles %}
<link href="/dialog_error.css" rel="stylesheet" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="panel">
    <div class="dialog">
        <div class="title">发生了错误</div>
        <div class="content">
            <span>{{message}}</span>
        </div>
        <div class="footer">
            <div class="btn">
                <a href="{{return_path}}">返回</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
