<html>
    <head>
        <title>课程管理系统--身份选择</title>
        <link href="/components.css" rel="stylesheet" />
        <link href="/base.css" rel="stylesheet" />
        {% block styles %}{% endblock%}
    </head>

    <body>
        <div class="page-head">
            <img class="logo" src="/logo_256.png" />
            <div class="title">课程管理系统--身份选择</div>
        </div>
        <div class="page-body">
            
            <div class="page-content">
                {% block page_content %}{% endblock %}
                <div class="page-footer">&copy;天津工业大学 2021</div>
            </div>
        </div>
    </body>
</html>